<ion-view>
	<ion-content class="fonregistro">
		<div class="row">
			<div class="col-10"></div>
			<div class="col-80"><br><br><img src="../azul.jpg"></div>
			<div class="col-10"></div>
			<br><br>
		</div>
		<div class="espacio2">
			<div class="row">
				<div class="col-20"><center><ion-icon class="ion-android-contact icono2"></ion-icon></center></div>
				<div class="col-80"></div>
			</div>
			<div class="row">
				<div class="col-20"><center><ion-icon class="ion-android-person-add icono2"></ion-icon></center></div>
				<div class="col-80"></div>
			</div>
			<div class="row">
				<div class="col-20"><center><ion-icon class="ion-android-lock icono2"></ion-icon></center></div>
				<div class="col-80"></div>
			</div>
		</div>
	</ion-content>
</ion-view>