<ion-view>
	<ion-content>
		<div class="row espacio">
			<div class="col"></div>
		</div>
		<div class="row">
			<div class="col"></div>
			<div class="division">
				<div class="col fondo">
					<img src="../azul.jpg" class="">
				</div>
			</div>
			<div class="col"></div>
		</div>
		<div class="row">
			<div class="col"></div>
			<div class="col">
				<div class="row">
					<div class="col-3"><br><h1><ion-icon name="contact" class="icono"></div>
					<div class="col-9">
						<br><br>
						<form>
							<label>
								<h1><input type="text" placeholder="Username"></h1>
							</label>
						</form>
					</div>
				</div>
				<div class="row">
					<div class="col-3"><h1><ion-icon name="key" class="icono"></ion-icon></div>
					<div class="col-9">
						<form>
							<label>
								<h1><input type="Password" placeholder="password"></h1>
							</label>
						</form>
					</div>
				</div>
				<div class="row">
					<div class="col"></div>
					<div class="col">
						<button>Iniciar</button>
					</div>
					<div class="col"></div>
				</div>
			</div>
			<div class="col"></div>
		</div>
	</ion-content>
</ion-view>